.a{
    color:red;
    font-size: large;
    position:relative;
    left:850px;
}

.b {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 500px;
    height: 500px;
    border: 20px solid;
    border-image: linear-gradient(to bottom right,#ffb56b,#ac255e) 1;
  }
  
  body {
    background-color: #92a8d1;
  }


  .c {
    --angle: 0deg;
    width: 200px;
    height: 200px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    padding: 6px 12px;
    background-image: linear-gradient(var(--angle), oklab(0.21 0 0) 0%, green 50%, blue 100%);
    background-origin: border-box;
    box-shadow: inset 0 100vw #474747;
    color: #232323;
    border: 8px solid transparent;
    animation: 5s rotate linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    letter-spacing: -0.02em;
    text-shadow: 0px 2px 3px #666;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  
  img {
    --s: 280px; /* image size */
    --b: 5px; /* border thickness */
    --c: #C02942; /* border color */
    --f: 1; /* initial scale */
    
    width: var(--s);
    aspect-ratio: 1;
    padding-top: calc(var(--s)/5);
    cursor: pointer;
    border-radius: 0 0 999px 999px;
    --_g: 50%/calc(100%/var(--f)) 100% no-repeat content-box;
    --_o: calc((1/var(--f) - 1)*var(--s)/2 - var(--b));
    outline: var(--b) solid var(--c);
    outline-offset: var(--_o);
    background: 
      radial-gradient(
        circle closest-side,
        #ECD078 calc(99% - var(--b)),var(--c) calc(100% - var(--b)) 99%,#0000
       ) var(--_g);
    -webkit-mask:
      linear-gradient(#000 0 0) no-repeat
       50% calc(1px - var(--_o)) / calc(100%/var(--f) - 2*var(--b) - 2px) 50%,
      radial-gradient(circle closest-side,#000 99%,#0000) var(--_g);
    transform: scale(var(--f));
    transition: .5s;
  }
  img:hover {
    --f: 1.35; /* hover scale */
  }
  
  
  